{% load static %}
<header style="background-color: #084474;">
    <div class="row g-0">
        <div class="col" style="padding-left: 50px;">
            <img src="{% static 'assets/img/senai-logo.png' %}" alt="Senai" height="30px" width="100px">
        </div>
        <div class="col text-end" style="padding: 0;">
            <a class="textdecoration" href="#home">Home</a>
            <a class="textdecoration" href="#sobre">Sobre</a>
            <a class="textdecoration" style="padding-right: 50px;" href="#contato">Contato</a>
        </div>
    </div>            
</header>